<h1>New Tenants Registration Page</h1>
<div class="booyah-box col-10 offset-1">
  <p>Add a new tenant</p>
  <%= simple_form_for @tenant, url: owner_townhouse_tenants_path(@townhouse) do |f| %>
    <%= f.input :name %>
    <%= f.input :phone %>
    <%= f.input :email %>
    <%= f.input :household %>
    <%= f.input :end_of_lease %>
    <%= f.input :emergency %>
    <%= f.submit "Add a tenant", class: 'btn btn-info' %>
  <% end %>
</div>
