<hr>
<p><%= link_to 'Register Property', new_owner_townhouse_path %></p>

<div class="booyah-box-1 col-10 offset-1">
  <p class="title">
    HOA Directory</p>
  <p class="tiny">
    (This list only includes registered members)
  </p>
  <hr class="style-five">
  <% @townhouse.each do |townhouse| %>
  
    <% if @townhouse.present? %>
      <p class="dir">
        <%= townhouse.name %>
        <% if current_user.email == townhouse.primaryemail %>
          <%= link_to 'View Details', owner_townhouse_path(townhouse), class: 'btn btn-info' %>
        <% end %>
      </p>
      <p>
        email:  <%= townhouse.primaryemail %>
      </p>
      <p class="dir2"> Address: 
        <%= townhouse.address %>
      </p>
      <p class="dir2">Phone Number:
        <%= townhouse.primaryphone %>
      </p>
    <% end %>
    <hr class="style-six">
  <% end %>
</div>
